/* styles_format/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #222; /* Тёмный цвет фона для атмосферы, напоминающей казино */
	background-image: url('../art_style/art.jpg');
	background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff; /* Цвет текста по умолчанию */
}

.menu {
    background-color: #111; /* Более тёмный цвет для фона меню */
    width: 100%; /* Растянуть меню на всю ширину экрана */
    position: fixed; /* Закрепить меню вверху экрана */
    top: 0; /* Расположить меню вверху */
    z-index: 1000; /* Обеспечить появление меню поверх другого контента */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block; /* Изменить отображение на inline-block для подменю */
    position: relative; /* Добавить относительное позиционирование для позиционирования подменю */
}

.menu ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff; /* Цвет текста */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
    position: relative; /* Относительное позиционирование для абсолютных элементов внутри */
}

.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff9800; /* Цвет по умолчанию для украшения */
    bottom: -5px;
    left: 50%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu ul li:hover a::after,
.menu ul li.active a::after {
    width: 100%; /* Расширение украшения при наведении */
    left: 0; /* Расположение слева */
}

.menu ul li a:hover {
    background-color: #444; /* Более тёмный цвет при наведении для лучшего контраста */
}

.menu .submenu {
    display: none; /* Скрыть подменю по умолчанию */
    position: absolute;
    background-color: #111; /* Тёмный цвет фона для подменю */
    min-width: 200px;
    z-index: 1000;
}

.menu ul li:hover .submenu {
    display: block; /* Показать подменю при наведении на родительский пункт */
}

.menu .submenu li {
    display: block;
}

.menu .submenu li a {
    padding: 10px 20px;
    font-size: 16px;
}

.menu .submenu li a:hover {
    background-color: #555;
}

h1, p { /* Обновленные стили для заголовков и абзацев */
    text-align: center;
    margin: 20px 0;
    color: #fff; /* Цвет текста */
}

h2 { /* Добавленные стили для элементов h2 */
    color: #000; /* Цвет текста установлен на чёрный */
}

.form-container h2 {
    text-align: center;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    width: 45%; /* Измененная ширина для лучшего выравнивания */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    color: #000; /* Цвет текста установлен на чёрный */
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 22px); /* Измененная ширина для лучшего выравнивания */
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff9800; /* Цвет кнопки отправки, напоминающий казино */
    color: #fff; /* Цвет текста */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #ffac33; /* Более тёмный цвет при наведении на кнопку отправки */
}
